apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: hello-gateway

spec:
  gatewayClassName: traefik
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      tls:
        mode: Terminate
        certificateRefs:
          - name: hello-gateway-tls
            namespace: hello
      allowedRoutes:
        namespaces:
          from: Same
